*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(79, 54, 54);
}

.container{
    border-radius: 20px;
    margin: 10%;
    padding: 5%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: aqua;
}
p,h5{
    background-color: aqua;
}

h2{
    color: rgb(49, 1, 107);
    text-shadow: 3px 2px 3px rgb(179, 161, 161);
    background-color: aqua;
}

#login, #Register{
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(252, 0, 118);
    cursor: pointer;
    width: 200px;
}
#login:hover{
    background-color: yellow;
}
#Register:hover{
    background-color: yellow;
}