body{
  width: auto;
  margin: 2.5% 2.5%;
  padding: 2% 2%;
  background-color: white;
}
h1{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
  text-decoration: none;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(212, 44, 212);
  border-radius: 8px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(235, 155, 201);
  color: black;
}